# Configuración de LLM
NVIDIA_API_KEY=
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_MODEL=moonshotai/kimi-k3

# Configuración de Base de Datos PostgreSQL con pgvector
DB_HOST=localhost
DB_PORT=5432
DB_NAME=parachuteDB
DB_USER=postgres
DB_PASSWORD=postgres